# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.dart_tool/
.packages
.pub-cache/
.idea/
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.history/

# Flutter/Dart/Pub related
.packages
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/profile
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS related
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Pods/

# Windows related
**/windows/flutter/generated_plugin_registrant.*

# Linux related
**/linux/flutter/generated_plugin_registrant.*

# Web related
lib/generated_plugin_registrant.dart

# Coverage
coverage/

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
